<% var = Tarea.all %>

<% found = [] %>

<% var.each do |task| %>
	<% if task["title"].downcase.include? params[:look].downcase %>
		<% found << task %>
	<% end %>
<% end %>


<div class="container container d-flex flex-column">
	<div class="row justify-content-center">

		<div class="col-8">
			<h2>Task list TO DO:</h2>
			<ul class="list-group">
				<% found.each_with_index do |i, j| %>
				<li class="list-group-item <%= i["done"] ? "list-group-item-success" : "list-group-item-primary" %>">

					<div class="container">
						<div class="row d-flex">

							<div class="col-8">
								<h5><%= "#{i["title"]}" %></h5>
							</div>

							<div class="col-2">
								<form action=<%= "/checkTask/?n=#{i["id"]}" %> method="post" id="didit">
									<input class="form-check-input align-middle" type="submit" value="Done!">
								</form>
							</div>

							<div class="col-2">
								<form action=<%= "/deleteTask/?n=#{i["id"]}" %> method="post" id="deleteit">
									<input class="form-check-input align-middle" type="submit" value="Take it off!">
								</form>
							</div>
						</div>
					</div>

				</li>
				<% end %>
			</ul>
			<div class="col-2">
				<form action="/" method="get" id="didit">
					<input class="form-check-input align-middle" type="submit" value="Take me back!">
				</form>
			</div>
		</div>
	</div>
</div>
