<h1>New task to do: </h1>
<form action="/" method="post">
  <input type="text" name="task">
  <input type="submit" value="Do it!">
</form>

<h2>Lista de tareas:</h2>
<% var = Tarea.all %>

<p><%= "#{var.length}" %></p>

<% (0...var.length).each_with_index do |i, j| %>
<%=	"#{var[i]} es la tarea: #{j}" %><br>
<% end %>

<br>

<% var.each_with_index do |i, j| %>
<%=	"#{i["title"]} es la tarea: #{j}" %><br>
<% end %>

<p>Esto es el EOF</p>